// Generic Color List | Change to Match Sites Style
$blue: #3e87be;

// A Hover | Link Style
$a-link-color: #000;
$a-visited-color: #3d1818;
$a-hover-color: #3d1818;
$a-active-color: #fff;
$a-link-text-dec: none;
$a-hover-text-dec: none;
